.summary {
  font-family: Inter, sans-serif;
  font-style: normal;
  text-align: center;
}

.headline {
  margin: 0;

  color: #7a7f87;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}

.result {
  margin: 4px 0 6px;

  color: #1f1f1f;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}

.updated-at {
  margin: 0;

  color: #8b8f96;
  font-size: 14.7px;
  font-weight: 400;
  font-style: normal;
  line-height: 1; /* 100% */
  letter-spacing: 0;
}
