.block {
  display: grid;
  gap: 6px;
}

.title {
  margin: 0;

  color: #111;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.description {
  margin: 0;
  color: #6d7178;
  font-size: 17px;
  line-height: 1.25;
}
